.forms-container {
  padding: 40px;

  form {

    .gfield_label,
    .gform-field-label {
      color: #000000;
      font-family: "aktiv-grotesk-extended", sans-serif;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 2.25px;
    }

    input[type="text"],
    input[type="email"],
    .gform-datepicker,
    .gfield_select,
    textarea {
      border-radius: 0;
      font-family: neutrabook;
      font-weight: 400;
      color: #000000;
      border-color: #000000;
    }

    .gchoice {
      .gfield-choice-input {
        background: #000000;
      }

      &::before {
        display: none !important;
      }
    }

    .gform_button.button {
      background: $black;
      border: 1px solid $black;
      border-radius: 0;
      color: $white;
      font-family: "aktiv-grotesk-extended", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 15px;
      letter-spacing: 2.25px;
      padding: 16px 20px;
      text-transform: uppercase;
      transition: .25s ease-in-out !important;

      &:hover,
      &:focus,
      &:active {
        background: $white;
        border: 1px solid $black;
        color: $black;
        transition: .25s ease-in-out !important;
      }
    }

  }
}
